.root {
  padding-top: 10px;
  position: relative;
}

.avatar {
  margin: auto;
  background-color: rgb(167, 25, 25);
}

.title {
  text-align: center;
}
.button {
  width: 100%;
}

.liner {
  position: absolute;
  top: -10px;
}
